{% extends 'index.html' %}

{% block title %} Contacts {% endblock %}

{% block content %}
    <div class="contacts-block">
        <h1 class="contacts-block__title">Contacts</h1>
        <div class="contacts-block__box-display">
            <div class="contacts-block__box-display_items box-item">
                <div class="box-item__title">
                    <h2>INSTAGRAM</h2>
                </div>
                <div class="box-item__link">
                    <a href="#" class="box-item__link_href"></a>
                </div>
            </div>
            <div class="contacts-block__box-display_items box-item">
                <div class="box-item__title">
                    <h2>TELEGRAM</h2>
                </div>
                <div class="box-item__link">
                    <a href="#" class="box-item__link_href"></a>
                </div>
            </div>
            <div class="contacts-block__box-display_items box-item">
                <div class="box-item__title">
                    <h2>YOUTUBE</h2>
                </div>
                <div class="box-item__link">
                    <a href="#" class="box-item__link_href"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}