{% extends 'index.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}
    <div class="intro-block">
        <div class="intro-block__display intro-items">
            <div class="intro-items__title">
                <h1>READ ME NOW!</h1>
                <div class="intro-items__text">
                    <p>Some text here</p>
                </div>
            </div>
            <div class="intro-items__image">
                <img src="none">
            </div>
        </div>
    </div>
{% endblock %}